{% extends "base.html" %}
{% block content %}

        <form action="/editcontacts/" method="POST">
          {% csrf_token %}
        <div class="row">
            <div class="col-lg-2">
              {{ edit_person_form.name.label_tag }}
            </div>
            <div class="col-lg-2">
              {{ edit_person_form.name }}
            </div>
            <div class="col-lg-2">
              {{ edit_person_form.email.label_tag }}
            </div>
            <div class="col-lg-2">
              {{ edit_person_form.email }}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2">
              {{ edit_person_form.surname.label_tag }}
            </div>
            <div class="col-lg-2">
              {{ edit_person_form.surname }}
            </div>
            <div class="col-lg-2">
              {{ edit_person_form.jabber.label_tag }}
            </div>
            <div class="col-lg-2">
              {{ edit_person_form.jabber }}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2">
              {{ edit_person_form.date_of_birth.label_tag }}
            </div>
            <div class="col-lg-2">
              {{ edit_person_form.date_of_birth }}
            </div>
            <div class="col-lg-2">
              {{ edit_person_form.skype.label_tag }}
            </div>
            <div class="col-lg-2">
              {{ edit_person_form.skype }}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2">
              {{ edit_person_form.photo.label_tag }}
            </div>
            <div class="col-lg-2">
              {{ edit_person_form.photo }}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">

            </div>
            <div class="col-lg-4">
              {{ edit_person_form.other_contacts.label_tag }}
              {{ edit_person_form.other_contacts }}
              {{ edit_person_form.bio.label_tag }}
              {{ edit_person_form.bio }}
            </div>
        </div>

          <input type="submit" value="Save">
          <a href="/accounts/logout/">Cancel</a>
        </form>

      <div class="row">
        <div class="col-lg-12">
          <hr>
          <a href={% url 'tasks42.views.requests' %}>requests</a>
        </div>
      </div>
{% endblock %}